{% extends 'base.html' %}

{% block content %}
    <div class="bg-light">
        <div class="d-flex justify-content-center container my-5">
            <div class="card" style="max-width: 600px; width: 100%;">
                <div class="card-body my-3">
                    <h3 class="fs-2 fw-3 text-center">Add a new category</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <span class="">Title</span>
                            <input type="text" name="title" class="form-control">
                        </div>
                        <div class="mb-3">
                            <span class="">Description</span>
                            <textarea name="description" class="form-control" cols="20" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Add category</button>
                        <a href="{% url 'home_page' %}" class="btn btn-outline-secondary my-2 w-100">← Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}