{% extends 'base.html' %}

{% block content %}
    <div class="bg-light">
        <div class="d-flex justify-content-center container my-5">
            <div class="card" style="max-width: 600px; width: 100%;">
                <div class="card-body my-5">
                    <h3 class="fs-2 fw-3">Add a new product</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <span class="">Title product</span>
                            <input type="text" name="title" class="form-control">
                        </div>
                        <div class="mb-3">
                        <span class="">Category</span>
                            <select name="category" class="form-control">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <span class="">Price</span>
                            <input type="number" name="price" class="form-control">
                        </div>
                        <div class="mb-3">
                            <span class="">Images URL</span>
                            <input type="url" name="image" class="form-control">
                        </div>
                        <div class="mb-3">
                            <span class="">Description</span>
                            <textarea name="description_product" class="form-control" cols="20" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Add product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}